*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.bg{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.9) ),url(images/backgroundtrainerpagestyle.png);

    background-position: center;
     width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: scroll;

}
.banner{
     position:relative;
     background-color :#010101;
    width: 100%;
    height: 90px;
     position: fixed;
     top:0;
     right:0;
     left:0;
}
.navbar{
     width: 100%;
     margin: auto;
     padding: 35px ;
     display: flex;
     align-items: space-between;
}
.navbar ul li{
     list-style: none;
     display: inline-block;
     margin: 0 10px;
     position: relative;
}
.navbar ul li a{
     text-decoration: none;
     color: #fff;
     text-transform: uppercase;
}
.navbar ul li::after{
     content: '';
     height: 3px;
     width: 0%;
     background: #f90000;
     position: absolute;
     left: 0;
     bottom: -10px;
     transition: 0.5s;
}
.navbar ul li:hover::after{
     width: 100%;
}
.logo{
     position: absolute;
     top: 3px;
     right: 3px;
}

.head{
    margin-top: relative;
    content: attr(data-text);
    color:#fff;
    width: 100%;
    text-align:center;
   }
h2{
    text-align:center;
    color: #e00b0b;
    padding-top:170px;
    font-weight:bold;
    font-size: 30px;
    margin-left:225px;
    }
.text-box 
{
   color: #fff;
   display: flex;
}
.details
{
     padding-left: 10px;
     display:-webkit-inline-flex;
     text-align: center;
     grid-template-columns: 1fr 1fr 1fr;
     column-gap:4px;
}
h3{
   
     padding-top:30px;
     text-align: initial;
}

button{
	padding: 5px;
	background: transparent;
	border: solid rgb(228, 217, 217);
	border-radius: 10px;
	color: rgb(218, 214, 214);
	margin-bottom: 17px;
}
.butn{
	padding:0;
     display: flex;
     margin-top: 100px;
     width:100%;
}

.content1
{
margin-left:10px;
     float:left;
    margin-right:10px;
     padding:6px;
}

.fdesign{
	display:flex;
     font-weight:bold;
     font-size:18px;
     padding: 2px;
     margin:0;
    
}
